h1{
    color:red;
    background-color: yellow;
}


#login{
    background-color: coral;
}

.btn{
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 6px 8px;
}

.btn-primary{
    background-color: cornflowerblue;
}

.btn-danger{
    background-color: crimson;
}
